<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart Book Management
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="custom-menu"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

  </div>
  <ion-input type="text">Name</ion-input>
</ion-content>
